.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left:auto;
    font-weight: bold;
    font-size: 25px;
    background: -webkit-linear-gradient(purple, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  .option
  {
      padding: 10px 15px;
      cursor: pointer;
  }
 }
}
